@model BiebWebApp.Models.ProfileViewModel

<h3>Subscribe</h3>

@if (Model.HasSubscription)
{
    <p>You already have an active subscription.</p>
    <form method="post" action="@Url.Action("Unsubscribe", "Home")">
        @Html.AntiForgeryToken()  <!-- Add an anti-forgery token to the form -->
        <button type="submit" class="btn btn-danger">Cancel Subscription</button>
    </form>
}
else
{
    <p>Do you want to subscribe?</p>
    <form method="post" action="@Url.Action("Subscribe", "Home")">
        @Html.AntiForgeryToken()  <!-- Add an anti-forgery token to the form -->
        <button type="submit" class="btn btn-primary">Subscribe</button>
    </form>
}
