@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (!string.IsNullOrEmpty(ViewBag.Exception))
{
    <h3 class="text-danger">Error Details:</h3>
    <p>@ViewBag.Exception.Message</p>
        <p>@ViewBag.Route</p>
}
